<% layout('/layouts/boilerplate') -%>
<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-6 offset-3">
    <form
      action="/campgrounds/<%= campground._id %>/?_method=PUT"
      method="POST"
      class="needs-validation"
      novalidate
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          id="title"
          name="campground[title]"
          class="form-control"
          value="<%= campground.title %> "
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Field can't be empty.</div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          id="location"
          name="campground[location]"
          class="form-control"
          value="<%= campground.location %> "
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Field can't be empty.</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image Url</label>
        <input
          type="text"
          id="image"
          name="campground[image]"
          value="<%= campground.image %>"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Field can't be empty.</div>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Campground Price</label>
        <div class="input-group">
          <span class="input-group-text" id="basic-addon1">$</span>
          <input
            type="text"
            id="price"
            name="campground[price]"
            class="form-control"
            placeholder="0.00"
            value="<%= campground.price %> "
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Field can't be empty.</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          class="form-control"
          id="description"
          style="height: 100px"
          name="campground[description]"
          required
        >
<%= campground.description %></textarea
        >
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">Field can't be empty.</div>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Edit Campground</button>
      </div>
    </form>
    <a href="/campgrounds">Back to all campgrounds</a>
  </div>
</div>
